.navbar{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 16px 0px 10px 0px;
}

.navTitle {
    font-size: 3em;
    text-align: center;
    padding: 16px 0px 10px 0px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.centralContainer {
    padding: 1em;
    margin: 2em;
    background: white;
}

.navbutton{
    font-size: 2em;
    background: white;
    margin: 10px;
    padding: 20px;
    transition: all 0.3s;
}

.navbutton:hover{
    background: rgb(34,187,195);
    background: linear-gradient(41deg, rgba(34,187,195,1) 0%, rgba(243,114,255,1) 80%);
    box-shadow: -8px -8px #ffc94b, -8px -8px #ffc94b inset;
    padding-left: 12px;
    padding-top: 12px;
    color: white;
    border-left: #fff solid 8px;
    border-top: #fff solid 8px;
}

.bordered {
    border-radius: 1em;
}

.navbutton:active{
    background: linear-gradient(131deg, white 0%, aqua 200%);
    color: black;
}