.navbar{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 16px 0px 10px 0px;
}

.navTitle {
    font-size: 3em;
    text-align: center;
    padding: 16px 0px 10px 0px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.centralContainer {
    padding: 1em;
    margin: 2em;
    background: white;
}

.navbutton{
    font-size: 2em;
    background: white;
    margin: 10px;
    padding: 20px;
    transition: all 0.3s;
}

.navbutton:hover{
    background: #ffc94b;
    color: white;
}

.bordered {
    border-radius: 1em;
}