.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 16px 0px 10px 0px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.centralContainer {
    padding: 1em;
    margin: 2em;
    background: white;
}

body{
    background: #000;
}